label,
input,
button {
  margin: 4px;
}
.mr {
  margin-top: 45px !important;
}
ul {
  list-style-type: none;
}
.checkbox {
  height: 36px;
  width: 2%;
}

input {
  text-align: left;
}
.add-item {
  display: inline-block;
}
#new-task {
  display: inline-block;
  width: 45%;
}

li {
  margin: 16px;
}
.mr-2 {
  margin-left: 8px;
  margin-right: 8px;
}
.search-section {
  display: flex;
  justify-content: start;
  margin-left: 4px;
  width: 45%;
}
.flex {
  display: flex;
  justify-content: start;
}

.custom-li {
  display: flex;
}

.task-label:hover {
  cursor: pointer;
} 
.task-label {
  text-align: left;
  display: block;
  width: 70%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.edit-input {
  display: flex;
  justify-content: center;
}

.edit-btn {
  display: flex;
  justify-content: right;
}
.update-btn {
  display: flex;
  justify-content: right;
}
.delete-btn {
  display: flex;
  justify-content: right;
}
html {
  box-sizing: border-box;
}
